.logo {
  width: 75px;
  height: 61px;
}

.header {
  background-color: green;
  border: 2px solid black;
}

.session-links {
  float: right;
}

.login-form-container {
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 375px;
  height: 310px;
  border: 1px solid black;
}

.login-form-header {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0px;
  border-bottom: 4px solid grey;
  border-bottom-style: dotted;
}

.login-input {
  border: 1px solid black;
  height: 25px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.login-button {
  border: 1px solid black;
  border-radius: 11px;
  height: 40px;
  width: 190px;
  margin: 15px;
  margin-bottom: 20px;
  transition: background 0.5s linear;
}

.login-button:hover{
  background-color: green;
}

.login-link {
  text-decoration: underline;
  color: blue;
}

.login-link:hover {
  cursor: pointer;
}
