<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
// <script type="text/javascript">
//   window.cloudinary_options = {
//     cloud_name: '<% ENV['CLOUD_NAME'] %>'
//     upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
//   }
// </script>
<main id="root"/></main>
