.main-header {
  border-top: 5px solid grey;
  background-color: #F2F1F1;
  position: absolute;;
  width: 100%;
  height: 44px;
}

.main-logo {
  margin-left: 15%;
  margin-top: 2px;
  margin-bottom: 5px;
  display: inline-block;
  width: 50px;
  height: 41px;

}

.main-title {
  position: relative;
  display: inline-block;
  margin-left: 11px;
  bottom: 20px;
  font: 19px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.main-nav-right {
  display: inline-block;
  float: right;
  margin-right: 15%;
  height: 100%;
  width: 480px;
}

.main-nav-right .session-links div {
  display: flex;
  justify-content: space-around;
  width: 230px;
}

.main-nav-right a {
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 3px;
  margin-right: 15%;
  margin-bottom: 0px;
  font: 12px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  width: 170px;
}
