.main-header {
  border-top: 5px solid grey;
  border-bottom: 1px dotted grey;
  background-color: #E6EBE0;
  position: relative;
  width: 100%;
  height: 44px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

.main-nav-left {
  margin-left: 4%;
}

.main-logo {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 66px;
  height: 37px;
}

.main-title {
  position: relative;
  display: inline-block;
  margin-left: 18px;
  bottom: 20px;
  font: 19px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.main-title:hover {
  text-decoration: underline;;
}

.main-nav-right {
  display: flex;
  height: 100%;
}

.main-nav-right .search-bar {
  margin-top: 10px;
}

.main-nav-right .search-bar .search-text {
  width: 250px;
}

.main-nav-right .magnifying-glass {
  margin-top: 3px;
  margin-right: 4px;
  position: relative;
  bottom: 20px;
}

.main-nav-right .session-links div {
  display: flex;
  justify-content: space-around;
  width: 230px;
}

.main-nav-right .splash-session-links div {
  display: flex;
  justify-content: space-around;
  width: 230px;
}

.main-nav-right a {
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-right: 15%;
  margin-bottom: 0px;
  font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  width: 170px;
}
