.search-bar {
  border: 1px solid #bebebe;
  float: right;
  margin-right: 15%;
  margin-top: 20px;
  height: 22px;
  width: 266px;
  background-color: white;
  border-radius: 2px;
}

.search-text {
  padding: 5px 1px 0px 7px;
  font: 12px/14px 'Lato', sans-serif;
  width: 166px;
}

.magnifying-glass {
  height: 16px;
  width: 16px;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}

.search-result-box {
  border: 1px solid #bebebe;
  border-radius: 2px;
  margin-top: 4px;
  background: whitesmoke;
  position: absolute;
  display: block;
  margin: 0;
}

.search-result-item {
  border-bottom: 1px solid #bebebe;
  height: 60px;
  width: 215px;
}

.search-result-item:hover {
  background-color: #edf1f2;
  cursor: pointer;
}

.search-result-link {
  display: flex;
}

.result-art {
  outline: 1px solid #DFE7E7;
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
}

.search-result-album-image {
  width: 50px;
  height: 50px;
}

.result-text {
  margin-top: 5px;
  margin-left: 12px;
}

.result-name {
  font: 14px/15px 'Lato', sans-serif;
  font-weight: 800;
}

.result-type {
  font: 12px/13px 'Lato', sans-serif;
  margin-top: 9px;
}
