.splash-header {
  background-color: #E6EBE0;
  position: absolute;;
  width: 80%;
  height: 90px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.splash-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.splash-logo {
  margin-top: 15px;
  margin-left: 16px;
  display: inline-block;
  width: 75px;
  height: 61px;
}

.splash-title {
  font: 28px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 2;
  margin-left: 20px;
}

.splash-right {
  display: inline-block;
  float: right;
  height: 90px;
  width: 50%;
}

.session-links {
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 14px;
  margin-right: 15%;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.session-links:hover {
  cursor: pointer;
}

.splash-session-links{
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 8px;
  margin-right: 15%;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.splash-session-links:hover {
  cursor: pointer;
}

.header-login-link {
  margin: 10px;
  margin-right: 25px;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.guest-account {
  bottom: 0px;
  right: 90px;
}

.login-link:hover {
  cursor: pointer;
}

.session-greeting {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
  cursor: default;
}

.log-out-link {
  font-size: 15px;
}
