.splash-header {
  background-color: #E6EBE0;
  position: absolute;;
  width: 80%;
  height: 90px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.splash-left {
  width: 96%;
  display: flex;
  justify-content: flex-start;
}

.splash-logo {
  margin-top: 24px;
  display: inline-block;
  width: 100px;
  height: 55px;
}

.splash-left-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3.5%;
}

.splash-title {
  font: 28px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 0.75;
  margin-left: 3%;
  margin-bottom: 0;
}

.splash-tagline {
  font: 14px/15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: bottom;
  width: 100%;
  margin-left: 3%;
  margin-top: 15px;
}

.splash-right {
  display: flex;
  flex-direction: column;
  height: 90px;
}

.modal-login-links {
  display: flex;
  justify-content: flex-end;
}

.modal-login-links:hover {
  cursor: pointer;
}

.session-links {
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 14px;
  margin-right: 15%;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.session-links:hover {
  cursor: pointer;
}

.splash-session-links{
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 8px;
  margin-right: 15%;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.splash-session-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-login-link {
  margin: 10px;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.header-login-link:hover {
  text-decoration: underline;
}

.guest-account {
  bottom: 0px;
  right: 90px;
}

.login-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.session-greeting {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
  cursor: default;
}

.log-out-link {
  font-size: 15px;
}

.log-out-link:hover {
  text-decoration: underline;
}
