.splash-header {
  background-color: #E6EBE0;
  position: absolute;;
  width: 100%;
  height: 90px;
}

.splash-logo {
  margin-top: 15px;
  margin-left: 15%;
  display: inline-block;
  width: 75px;
  height: 61px;
}

.splash-title {
  position: relative;
  display: inline-block;
  margin-left: 11px;
  bottom: 12px;
  font: 28px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.splash-right {
  display: inline-block;
  float: right;
  margin-right: 15%;
  height: 100%;
  width: 480px;
}

.search-bar {
  border: 1px solid black;
  float: right;
  margin-right: 15%;
  margin-top: 27px;
  height: 22px;
  width: 210px;
  background-color: white;
  border-radius: 2px;
}

.session-links {
  bottom: 0px;
  float: right;
  right: 15%;
  display: flex;
  margin-top: 12px;
  margin-right: 15%;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.session-links:hover {
  cursor: pointer;
}

.header-login-link {
  margin: 10px;
  margin-right: 25px;
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.guest-account {
  bottom: 0px;
  right: 90px;
}

.login-form-container {
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 375px;
  height: 310px;
  border: 1px solid black;
}

.login-form-header {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0px;
  border-bottom: 4px solid grey;
  border-bottom-style: dotted;
  font: 22px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.login-form-box {
  font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.login-input {
  border: 1px solid black;
  height: 25px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.login-error {
  color: red;
}

.login-button {
  border: 1px solid black;
  border-radius: 11px;
  height: 40px;
  width: 190px;
  margin: 15px;
  margin-bottom: 20px;
  transition: background 0.35s linear;
}

.login-button:hover{
  background-color: #3FA34D;
}

.login-link {
  text-decoration: underline;
  color: blue;
}

.login-link:hover {
  cursor: pointer;
}

.session-greeting {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
  cursor: default;
}

.log-out-link {
  font-size: 15px;
}
