.album-player {
  height: 700px;
  width: 760px;
  position: absolute;
  margin-top: 40px;
  left: 30px;
}

.name-section {
  display: block;
  float: left;
  margin: 0;
}

.song-player-column {
  position: absolute;
  width: 380px;
  height: 450px;
  float: left;
}

.album-show-album-title {
  font: normal 28px/1em 'Lato', sans-serif;
  margin: -4px 30px 8px 0;
}

.album-artist-name {
  font: normal 14px/15px 'Muli', sans-serif;
  margin: 0;
}

.album-artist-name-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.track-listing {

}

.inline-player {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  margin: 24px 0 17px;
  height: 50px;
}

.inline-player tbody {
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: inherit;
  font: normal 12px/13px 'Lato', sans-serif;
}

td {
  display: table-cell;
  text-align: left;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.play-cell {
  vertical-align: bottom;
}

.play-button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  min-height: 50px;
  min-width: 54px;
}

.player-track-cell {
  border: 1px solid black;
  height: 32px;
  vertical-align: bottom;
  border: none;
  padding: 0;
  text-align: left;
  display: table-cell;
}

.player-track-info {
  min-height: 24px;
  min-width: 262px;
  white-space: normal;
  display: block;
  margin-left: 13px;
}

.title-section {
  padding-right: 0.5em;
  font: normal 12px/13px 'Lato', sans-serif;
  font-weight: 500;
}

.time {
  white-space: nowrap;
  font: normal 12px/13px 'Lato', sans-serif;
}

.progress-bar-cell {
  min-width: 270px ;
  position: relative;
  border: none;
  padding: 0;
}

.progress-bar {
  position: relative;
  height: 12px;
  margin: 1px 0.83333em 0;
  background: #fefefe;
  background-color: rgba(255,255,255,.3);
  border: 1px solid grey;
  border-color: rgba(0,0,0,.15);
  border-radius: 1px;
  position: relative;
  width: 230px;
  height: 8px;
  overflow: visible;
}

.track-progress-square {
  background: #fff;
  border: 1px solid grey;
  border-color: rgba(0,0,0,.25);
  border-radius: 1px;
  position: absolute;
  left: 0px;
  top: -2px;
  width: 22px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
}

.prev-track-cell {
  border: none;
  padding: 0;
}

.prev-track-button {
  background-size: 40px 12px;
  display: block;
  margin-right: 2px;
  cursor: pointer;
  width: 20px;
  height: 12px;
  margin: 0 0 1px;
}

.next-track-cell {
  border: none;
  padding: 0;
}

.next-track-button {
  background-size: 40px 12px;
  width: 20px;
  height: 12px;
  margin: 0 6px 1px;
  display: block;
  margin-right: 5px;
  cursor: pointer;
}

.track-row:hover > .track-download-col > .track-download-link {
  visibility: visible;
}

.track-row-play-col {
  padding: 4px 0 0;
  width: 20px;
  vertical-align: top;
  border: none;
  height: 16px;
  width: 17px;
}

.track-play-link {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 16px;
  width: 17px;
  display: block;
}

.track-row-number-col {
  border: none;
  vertical-align: top;
  padding: 6px 2px;
  min-width: 15px;
}

.track-number-info {
  text-align: right;
  margin-left: 10px;
  display: block;
}

.track-title-col {
  padding: 6px 2px;
  vertical-align: top;
  border: none;
}

.track-title-info {
  width: 275px;
  display: block;
}

.track-title-info:hover {
  text-decoration: underline;
  cursor: pointer;
}

.track-download-col {
  padding: 6px 2px;
  vertical-align: top;
  border: none;
}

.track-download-link {
  text-align: right;
  width: 95px;
  visibility: hidden;
}

.track-download-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.no-tracks-text {
  margin-bottom: 28px;
}

.first-track-add-link {
  border: 1px solid #bebebe;
  padding: 8px;
  border-radius: 3px;
  font: normal 12px/13px 'Lato', sans-serif;
}

.track-add-link {
  border: 1px solid #bebebe;
  padding: 8px;
  border-radius: 3px;
  font: normal 12px/13px 'Lato', sans-serif;
}

.description-section {
  margin-top: 35px;
  font: normal 12px/13px 'Lato', sans-serif;
  font-style: italic;
}

.album-art {
  display: inline-block;
  width: 350px;
  height: 350px;
  float: right;
}

.album-image {
  width: 350px;
  height: 350px;
  float: right;
}

.album-artist-info-sidebar {
  margin-top: 4px;
  width: 120px;
  padding: 45px 0 0 0;
  float: right;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.album-edit-link {
  border: 1px solid #bebebe;
  border-radius: 2px;
  width: 59px;
  height: 12px;
  padding: 10px;
  font: normal 12px/13px 'Lato', sans-serif;
}

.artist-title:hover {
  text-decoration: underline;
}

.discography {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 11px;
  bottom: 12px;
  font: 13px/1.2307692308 'Lato', sans-serif;
}
