
.artist-title {
  position: relative;
  display: inline-block;
  margin-left: 11px;
  bottom: 12px;
  font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.album-container {
  width: 80%;
  margin: auto;
  margin-top: 21px;
  margin-left: 3%;
}

.album-list-item {
  position: relative;
  display: inline-block;
  margin: 14px 45px 30px 0;
  width: 195px;
  height: 195px;
  vertical-align: top;
}

.album-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.add-album-link {
  border: 2.5px dashed black;
  border-radius: 12px;
  position: relative;
  display: inline-block;
  margin: 14px 45px 30px 0;
  width: 187px;
  height: 188px;
  vertical-align: top;
}

.plus-image {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 39%;
  top: 29%;
}

.add-album-text {
  font: 16px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  position: absolute;
  left: 37px;
  top: 102px;
}

.album-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.album-list-link {
  font: 12px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 100%;
  font-weight: bold;
  font-size: 83%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: 7px;
  margin-left: 3px;
}

.artist-info-sidebar {
  height: 200px;
  width: 120px;
  padding: 45px 35px 0 0;
  float: right;
  position: absolute;
  right: 30px;
}
