.show-page-background {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.show-page-container {
  background-color: white;
  position: relative;;
  border: 1px solid black;
  margin: auto;
  height: 1000px;
  width: 975px;
}

.show-page-header {
  display: inline-block;
  height: 160px;
  width: 100%;
}
