footer {
  border-top: 0.1px solid rgba(#BEBEBE, 0.95);
  color: white;
  height: 35px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(#E6EBE0, 0.95);
}

.footer-text {
  font: 14px/15px 'Lato', sans-serif;
  color: black;
  margin-top: 9px;
  margin-left: 10%;
}
