footer {
  border-top: 1px solid black;
  color: white;
  height: 35px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(#963D5A, 0.95);
}

.footer-text {
  font: 14px/15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  margin-top: 9px;
  margin-left: 12%;
}
