#loading-bacon {
  height: 300px;
  width: 300px;
  background-color: inherit;
}

#loading-text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font: 34px/1.2307692308 'Lato', sans-serif;
}

.album-form-container {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 700px;
  background-color: #9BC1BC;
}

.album-form-info {
  height: 100%;
  width: 60%;
  min-width: 330px;
  background-color: #F3F5F0;
}

.album-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 320px;
}

.album-form-headers {
  text-align: center;
  font: 28px/1.2307692308 'Lato', sans-serif;
  font-weight: 400;
}

.album-form-inputs {
  height: 310px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-data-type {
  padding-bottom: 4px;
  font-weight: 700;
}

.album-title {
  border-bottom: 1px solid black;
  font-size: 25px;
  height: 40px;
  width: 316px;
}

.album-art-upload input {
  font-weight: normal;
}

.album-form-info textarea {
  box-sizing: border-box;
  border: 1px solid black;
  height: 112px;
  width: 316px;
  background-color: white;
}

.track-form-info {
  border: 1px solid black;
  height: 300px;
  width: 37%;
}

.album-submit-button {
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  background-color: #BBBCBD;
  transition: background 0.35s linear;
}

.album-submit-button:hover {
  background-color: #3FA34D;
}
