#loading-bacon {
  height: 100px;
  width: 100px;
}

.album-form-container {
  display: flex;
  justify-content: space-around;
}

.album-form-info {
  border: 1px solid black;
  height: 450px;
  width: 60%;
}

.album-form-headers {
  margin-left: 18%;
  font: 28px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.album-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.album-title {
  border: 1px solid black;
  height: 20px;
  width: 200px;
}

.album-form-info textarea {
  border: 1px solid black;
  height: 90px;
  width: 200px;
}

.track-form-info {
  border: 1px solid black;
  height: 300px;
  width: 37%;
}

.album-submit-button {
  border: 1px solid black;
  border-radius: 11px;
  height: 40px;
  width: 120px;
  margin-bottom: 18px;
  text-align: center;
  transition: background 0.35s linear;
}

.album-submit-button:hover {
  background-color: #3FA34D;
}
