.app-background {
  position: fixed;
  height: 100%;
  width: 100%;
  // background-color: grey;
}

.artist-page-container {
  position: absolute;
  border: 1px solid black;
  margin: auto;
  margin-top: 48px;
  height: 100%;
  width: 80%;
  left: 10%;
}

.artist-header {
  border: 1px solid black;
  display: inline-block;
  height: 135px;
  width: 100%;
}

.artist-info-sidebar {
  border: 1px solid black;
  height: 100%;
  width: 120px;
  padding: 45px 35px 0 0;
  float: right;
  position: absolute;
  right: 35px;
}

.artist-title {
  position: relative;
  display: inline-block;
  margin-left: 11px;
  bottom: 12px;
  font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  left: 5%;
}

.album-container {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 38px;
}

.album-list-item {
  position: relative;
  display: inline-block;
  margin: 14px 45px 30px 0;
  width: 195px;
  height: 195px;
  vertical-align: top;
}

.album-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.album-list-link {
  font: 12px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 100%;
  font-weight: bold;
  font-size: 83%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: 7px;
  margin-left: 3px;
}
