.splash-body {
  background-color: #9BC1BC;
  position: absolute;
  margin-top: 90px;
  width: 100%;
  z-index: -1;
}

.splash-image {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.featured-artists-header {
  font: 28px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 0.75;
  margin: 0 auto;
  padding: 26px;
}

.featured-artists {
  background-color: #E6EBE0;
  display: block;
  margin: 0 auto;;
  width: 80%;
  height: 400px;
}
