.splash-body {
  background-color: #9BC1BC;
  position: absolute;
  margin-top: 90px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.splash-image {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 340px;
}

.featured-artists {
  background-color: #E6EBE0;
  display: block;
  margin: 0 auto;;
  width: 1000px;
  height: 400px;
}
