.splash-body {
  background-color: #9BC1BC;
  position: absolute;
  margin-top: 90px;
  width: 100%;
  z-index: -1;
}

.splash-image {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.featured-artists {
  background-color: #E6EBE0;
  display: block;
  margin: 0 auto;;
  width: 80%;
  height: 400px;
}
